<h1>Weather forecast</h1>

<div class="description">
  <p>
    This component demonstrates fetching data from the server. This is a protected api, and the msal http intercepter
    add the jwt token to the headers.
  </p>
</div>

@if (forecasts) {
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Temp. (C)</th>
        <th>Temp. (F)</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecasts">
        <td>{{ forecast.date }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
      </tr>
    </tbody>
  </table>
}
