table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: rgba(249, 249, 249, 0.036);
}

tr:hover {
  background-color: rgba(249, 249, 249, 0.167);
}
